.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.capturedImg {
  position: absolute;
  left: 28%;
  margin-top: 300px;
  top: -10.7%;
  
}

.sendbtn {
  margin: auto;

}

.webcam {
  position: relative;
  left: 28%;
  margin-top: 300px;
}

.cambtn {
  position: relative;
  top: 5%;
  left: 50%;
  font-size: 2.5rem;
  border-radius: 10px;
}

.emo {
  background-color: aliceblue;
}

.emoe {
  background-color: #0055ff;
}